<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Unmuni</title>
<body>
  <header>
    <h1>Unmuni</h1> <i>Work for the common good. Money for the 99%.</i>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        <li><a href="https://app.unmuni.com/#/">Wallet</li>
        {% for href, title in [
          ['/values', 'Values'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}.html">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyleft 2018
  </footer>
</body>
